<footer class="container">
  <div class="row">
    <div class="col d-flex justify-content-center pt-1 mb-3">

      <ul class="list-unstyled list-inline align-self-center mb-0">
        <li class="list-inline-item">
          <a href="javascript:void(0)" (click)="aboutApp()" class="align-self-center" aria-disabled="true">
            <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
            <span>About this app</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</footer>
