<div class="container bg-admin-area">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" title="Messages">
          <a class="nav-link" routerLink="/admin/dashboard/messages" routerLinkActive="active">
            <i class="fa fa-bullhorn fa-fw" aria-hidden="true"></i>
            <span class="d-none d-sm-inline-block">Messages</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-12 py-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
