<div class="modal-body">

  <div class="row justify-content-between mb-4">
    <div class="col">
      <p class="mb-0">About this app</p>
    </div>
    <div class="col">
      <button type="button" class="close" aria-describedby="modal-title" (click)="bsModalRef.hide()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-4 d-flex justify-content-center">
      <img src="../../../../assets/logo-color.svg" alt="" height="94" width="74"/>
    </div>
    <div class="col-8 d-flex justify-content-center flex-column text-center">
      <h6>Version:&nbsp;{{version}}</h6>
      <p class="text-muted">
        <small>This web app was created by Lilian Costas.</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="text-muted mb-0">
        <small>&copy; 2020 Lilian Costas</small>
      </p>
    </div>
  </div>

</div>
